.contact input {
    height: 50px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(7, 7, 7);
}

.contact input:focus{
  border: 6px double rgb(243, 240, 89);
}
.contact textarea{
    background-color: transparent;
    border:2px solid black;
}
.contact textarea:focus{
    border: 6px double rgb(243, 240, 89);
}