.contact input {
    height: 50px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(7, 7, 7);
}

.contact textarea {
    background-color: transparent;
    border: 2px solid black;
}
