.price {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product:hover .price {
    display: block;
    background-color: rgb(248, 248, 53);
    /* border-radius: 5px; */
}
